<h2><%= @country.country %></h2>
<%#= image_tag @country.image %>

<%= link_to 'Edit', edit_country_path(@country) %>
<%= link_to 'Delete', @country, :method => :delete, :data => { :confirm => 'Are you sure? This will delete all posts written for this country.' } %>


<% if @country.entries.present? %>
  <article>
    <% @country.entries.each do |entry| %>
      <header>
      	<h1><%= link_to entry.name, entry %></h1>
      	<h3><%= entry.address %></h2>
      </header>
    	<p>
    		<%= entry.entry %>
    	</p>
      <p>
        Date of travel: <%= entry.date %>
      </p>
    <% end %>
  </article>
<% else %>
	<p>There are no entries to display.</p>
<% end %>