<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class= "container">
		<nav>
			<ul>
				<li><%= link_to('Home', root_path) %></li>
				<!-- <li><%#= link_to('About', users_path) %></li> -->
<!-- 				<li><%#= link_to('Countries',countries_path)%></li>
				<li><%#= link_to('Add Country',new_country_path)%></li> -->
				<%== intellinav %>
			</ul>
		</nav>
	</div>

<div class= "container">
	<%= yield %>
</div>

</body>
</html>
